// font
$font-style: 'Open Sans', sans-serif;
$font-extraLarge: 34px;
$font-large: 25px;
$font-medium: 18px;
$font-small: 12px;

// color 
$green: #2FAD64;
$red: #E7585A;
$dark: #4E4F50;
$blue: #339ED8;
$yellow: #FFE164;

// shades
$shade-light: #FEFFFF;
$shade-medium: #F1F2F3;
$shade-dark: #E7E8E9;
$shade-placeholder-light: #DFE0E1;
$shade-placeholder-medium: #EDEEEF;
$shade-placeholder-dark: #C3C4C5;

// text color
$shade-heading: #000;
$shade-details: #4D4E4F;